{% extends 'include/base.html' %}


{% block title %}
Lista de todos los Departamentos usando listview
{% endblock title %}

{% block content %}
{% include 'include/header.html' %}

<div class="grid container">
    <div class="grid-x">
        <h1 class=cell>Lista de todos los Departamentos usando listview </h1>
        <div class="cell">
            <table>
                <tbody>
                    {% for i in departamentos %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.short_name}}</td>
                        <td><a href="{% url 'persona_app:empleado_area' i.short_name %}" class="button warning">Ver Empleados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>

{% endblock %}