{% extends 'include/base.html' %}


{% block title %}
Administrar empleados
{% endblock title %}

{% block content %}
{% include 'include/header.html' %}
<!--ojo con este form necesita "multipart/form-data" para aceptar archivos que tengan otras extenciones-->
<form method= "POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
            <h1 class="cell"> Registrar persona con createview</h1>
            <div class="cell large-6">
            <label>Nombre: {{form.first_name}}</label>
            </div>
            <div class="cell large-6">
                <label>Apellido: {{form.last_name}}</label>
            </div>
            <div class="cell large-6">
                <label>Puesto: {{form.job}}</label>
            </div>
            <div class="cell large-6">
                <label>Departameto: {{form.departamento}}</label>
            </div>
            <div class="cell large-6">
                <label>Habilidades: {{form.habilidad}}</label>
            </div>
            <div class="grid-container large-6">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-6">
                        <label>Fotografia: {{form.Avatar}}</label>
                    </div>
                    <div class="cell large-6">
                        <label><b>Hoja de vida:</b>
                        </label>
                        {{form.hoja_de_vida}}
                    </div>
                </div>
            </div>
        </div>
        <div class="cell"><button type="submit" class="success button">cargar</button></div>
    </div>

  </form>
{% endblock content %}





